*{margin: 0;
    padding: 0
    ;}
    
    div {
        margin: 20px;
    }
    
    div.cont1 {
        background-color: rgb(0, 53, 247);
    }
    
    div.cont2 {
        background-color: rgb(55, 53, 53);
    }
    
    div.cont3 {
        background-color: gray;
    }
    
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }